Intro 2: Now that we know the basics of Python, it is now time to learn how to export and explore data. Exporting data tables are called pandas.

 Part 1: Import tables and extract information 
 ________________________________________________________________________________________________________________
 
 Assign variables and print the results

In [1]:
import pandas as pd #telling the computer to load info below as pur data

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

Looking at the information in the table above, what's occuring?

#answer here:

In [9]:
#Copy the code above and paste below
#Change data to data_2
#Change calories to temp (80, 90, 100) 
#Change duration to crime_arrests (100, 150, 300) 

data_2= {
  "temp": [80, 90, 100],
  "crime_arrests": [100, 150, 300]
}

#load data into a DataFrame object:
df = pd.DataFrame(data_2)

print(df)

   temp  crime_arrests
0    80            100
1    90            150
2   100            300

Looking at the information in the table above, what can we conclude?

#Answer Here:

After looking at the table above (temp & crime), what will happen to crime_arrests when temp drops and why?

#Answer Here:

 Part 2: Creating & Printing Data (Strings) 
 __________________________________________________________________________________________________________________
 
 Assign variables and print the results

Let's assum

Eugene Pope

>>> Hello world, I'm First!

 Part 3: Creating & Printing Data (Lists) 
 __________________________________________________________________________________________________________________
 
 Assign variables and print the results

In [ ]:
grocery_list = ["eggs", "milk", "juice"]   # Assign the list to the variable "grocery_list"
print(grocery_list[???])  # Replace ??? with a number to print "milk"

milk

In [12]:
# Copy the code above, create a list called 'practice_planets'. The list should contain Earth, Mars & Jupiter.

practice_planets = ["earth", "mars", "jupiter"]   
print(practice_planets[2])  # Replace ??? with a number to print "jupiter"

jupiter